@tailwind base;
@tailwind components;
@tailwind utilities;

.login-register-title {
	@apply font-semibold text-4xl sm:text-5xl mb-5 sm:mb-7 dark:text-white;
}

.settings-account-input {
	@apply text-black p-1.5 rounded-md outline-none mt-1;
}

.settings-account-btn {
	@apply self-center py-2 px-10 mt-8 rounded-full bg-blue-400 hover:bg-blue-450 active:scale-[0.97] duration-150;
}

.create-survey-save-publish {
	@apply border-gray-500 rounded-xl w-[120px] h-[50px] font-medium active:scale-[0.97] duration-150;
}

.hamburger-react {
	z-index: 100;
}

/* Custom radio + checkbox buttons for home/settings/general */
.settings-general-radio-checkbox + label span {
	transition: background 0.2s, transform 0.2s;
}

.settings-general-radio-checkbox:checked + label span {
	background-color: #1e8adb;
}

.add-question-option {
	@apply flex items-center px-4 py-3 hover:bg-gray-200 cursor-pointer duration-150;
}

.add-question-option:first-child {
	@apply pt-5 rounded-t-xl;
}

.add-question-option:last-child {
	@apply pb-5 rounded-b-xl;
}

.add-question-option > svg {
	@apply mr-3 w-auto h-5;
}

.add-question-dropdown {
	@apply bg-white text-black rounded-xl relative mb-8 flex flex-col cursor-pointer duration-150;
}

.add-question-dropdown::before {
	content: '';
	width: 50px;
	height: 50px;
	transform: translateX(-50%) rotate(45deg);
	bottom: -10px;
	border-radius: 12px;
	left: 50%;
	background-color: #fff;
	position: absolute;
	z-index: -1;
}

*::-webkit-scrollbar {
	display: none;
}

.new-survey-btn {
	@apply bg-blue-400 text-white rounded-full py-4 px-8;
}

.survey-card-btn {
	@apply h-[35px] w-full rounded-xl text-sm font-medium duration-150;
}

/* Custom color for autofill */
html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:hover,
html.dark input:-webkit-autofill:focus,
html.dark textarea:-webkit-autofill,
html.dark textarea:-webkit-autofill:hover,
html.dark textarea:-webkit-autofill:focus,
html.dark select:-webkit-autofill,
html.dark select:-webkit-autofill:hover,
html.dark select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #1f1635 inset;
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #fff;
}

html.light input:-webkit-autofill,
html.light input:-webkit-autofill:hover,
html.light input:-webkit-autofill:focus,
html.light textarea:-webkit-autofill,
html.light textarea:-webkit-autofill:hover,
html.light textarea:-webkit-autofill:focus,
html.light select:-webkit-autofill,
html.light select:-webkit-autofill:hover,
html.light select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #c5b4f4 inset;
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #000;
}

.Toastify__toast-theme--dark {
	@apply bg-blue-300 dark:bg-blue-700 text-black dark:text-white;
}

.Toastify__progress-bar-theme--dark {
	@apply bg-blue-400;
}

#surveys h1 {
	@apply font-bold text-lg;
}

#surveys h2 {
	@apply italic text-lg;
}
